<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar Archivos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="200" height="65" />

        <h1>Cargar un Archivo</h1>
        <p>En este campo se puede poner una descripcion de lo que hace la aplicación</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="file" class="form-label">Seleccione un archivo CSV:</label>
                <input type="file" class="form-control" id="file" name="file" accept=".csv" required>
            </div>
            <div class="mb-3">
                <p>Por ahora solo esta disponible el tipo 1, <mark>no seleccionar los otros tipos</mark></p>
                <label for="tipo" class="form-label">Seleccione el tipo de archivo:</label>
                <select class="form-select" id="tipo" name="tipo" required>
                    <option value="1">Tipo 1</option>
                    <option value="2">Tipo 2</option>
                    <option value="3">Tipo 3</option>
                    <option value="4">Tipo 4</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="nombre_descarga" class="form-label">Nombre del archivo de descarga:</label>
                <input type="text" class="form-control" id="nombre_descarga" name="nombre_descarga" placeholder="archivo_procesado">
            </div>
            <p>Para obtener el archivo modificado haga click en "Descargar"</p>
            <button type="submit" class="btn btn-primary">Descargar</button>
        </form>
    </div>
</body>
</html>
